.news {
  overflow-y: scroll;
  height: 195px;
  font-size: 15px;
}

.newsTab {
  overflow-y: scroll;
  height: 427px;
  font-size: 15px;
}

.news-big {
  overflow-y: scroll;
  height: 450px;
  font-size: 15px;
}

.news-medium {
  overflow-y: scroll;
  height: 300px;
  font-size: 15px;
}
.newsTime {
  font-size: 12px;
  width: 25%;
}

.newsLink {
  font-size: 12px;
  width: 55%;
}
.newsBorder {
  border-bottom: #aeb0b5 1px solid;
  display: inline-block;
  padding: 3%;
  margin-left: 2%;
  margin-right: 2%;
}

.newsBody {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
h1 {
  font-weight: normal;
  margin: 0;
  font-size: 24px;
}
h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  color: #424242;
}
