<p>home works!</p>
<div>
  <mat-progress-spinner
    *ngIf="isLoading"
    mode="indeterminate"
  ></mat-progress-spinner>
</div>

<div>
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
</div>
<div>
  <mat-checkbox class="example-margin" [(ngModel)]="disabled">
    Not Disabled
  </mat-checkbox>
</div>
<div>
  <label id="example-radio-group-label">Pick your favorite season</label>

  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="favoriteSeason"
  >
    <mat-radio-button
      class="example-radio-button"
      *ngFor="let season of seasons"
      [value]="season"
    >
      {{ season }}
    </mat-radio-button>
  </mat-radio-group>
  <div>Your favorite season is: {{ favoriteSeason }}</div>
</div>
